---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/apps.emqx.io/emqx_v2beta1.json
apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: emqx
spec:
  image: public.ecr.aws/emqx/emqx:5.8.9
  revisionHistoryLimit: 0
  config:
    data: |
      authentication {
        backend = "built_in_database"
        mechanism = "password_based"
        password_hash_algorithm {
            name = "bcrypt",
        }
        user_id_type = "username"
      }
      authorization {
        sources = [
          {
            type = built_in_database
            enable = true
          }
        ]
        no_match: "deny"
      }
  bootstrapAPIKeys:
    - secretRef:
        key:
          secretKey: username
          secretName: emqx-secret
        secret:
          secretKey: password
          secretName: emqx-secret
  coreTemplate:
    metadata:
      annotations:
        secret.reloader.stakater.com/reload: "emqx-dashboard-secret,emqx-secret"
    spec:
      replicas: 3
      env:
        - name: EMQX_DASHBOARD__DEFAULT_USERNAME
          valueFrom:
            secretKeyRef:
              key: username
              name: emqx-dashboard-secret
        - name: EMQX_DASHBOARD__DEFAULT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: emqx-dashboard-secret
      volumeClaimTemplates:
        storageClassName: local-generic
        resources:
          requests:
            storage: 1Gi
        accessModes:
          - ReadWriteOnce
