---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_CLUSTER_NAME: "#{ bootstrap_cluster_name|default('home-ops', true) }#"
  SECRET_DOMAIN: "#{ bootstrap_cloudflare.domain }#"
  #% if bootstrap_cloudflare.enabled %#
  SECRET_ACME_EMAIL: "#{ bootstrap_cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  #% endif %#
