---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Kubeconform"

on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**"]

env:
  MAIN_CLUSTER_KUBERNETES_DIR: ./kubernetes/main
  STORAGE_CLUSTER_KUBERNETES_DIR: ./kubernetes/storage

jobs:
  kubeconform:
    name: Kubeconform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Workflow Tools
        run: brew install fluxcd/tap/flux kubeconform kustomize

      - name: Run kubeconform for main cluster
        shell: bash
        run: bash ./scripts/kubeconform.sh ${{ env.MAIN_CLUSTER_KUBERNETES_DIR }}

      - name: Run kubeconform for storage cluster
        shell: bash
        run: bash ./scripts/kubeconform.sh ${{ env.STORAGE_CLUSTER_KUBERNETES_DIR }}
